html {
    background-color: lightgray;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: cursive;
}

.mainContainer {
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    width: 1000px;
    height: 650px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    float: left;
}

.cityInput {
    background-color: white;
    width: 450;
    height: 50px;
    float: left;
}

.WeatherGraph{
    background-color: blueviolet;
    width: 650px;
    height: 250px;
    margin-left: 40px;
    float: left; 
}

.currenDateTimeText{
    background-color: red;
    width: 650;
    height: 50px;
    float: left; 
}